*{
    font-style: Arial, Helvetica, sans-serif;
}

:root{
    --darkGrey: rgb(43, 41, 41);
    --lightGrey: rgb(75, 75, 75);
    --faintGrey: rgb(199, 199, 199);
    --darkRed: rgb(160, 5, 5);
    --lightRed: rgb(255, 0, 0);
}

body{
    background-color: black;
}

.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block h4{
      margin: auto;
      font-size: 2rem;
  }

/* Inner-Hexagon Icon */
.hex-small:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 7.5px solid var(--darkGrey);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    top: -7.5px;
}

.hex-small {
    margin-top: 7.5px;
    width: 26px;
    height: 15px;
    background-color: var(--darkGrey);
    position: relative;
    transition: transform .9s ease-in-out;
}

.hex-small:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -7.5px;
    border-top: 7.5px solid var(--darkGrey);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

h1{
    color: black;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to top, var(--lightRed), var(--darkRed));
    border-radius: 5px;
    width: fit-content;
    margin: 2.5% auto;
    justify-content: center;
}

p{
    line-height: 150%;
    color: white;
    margin: 0 4rem;
}

#profile-picture{
    display: inline-block;
    border-radius: 15px;
    margin: 0 20%;
    width: 60%
}

/* About me paragraph */
/* .self-intoduction{
    background: linear-gradient(var(--darkGrey), var(--lightGrey));
} */

.self-intoduction p{
    padding: 30px;
    padding-bottom: 6rem;
}

/* .project-section{
    background: linear-gradient(to top, var(--darkGrey), var(--lightGrey));
} */

/* First Project */
#project-one{
    display: block;
    max-width: 90%;
    margin: 0 5%;
}

#horiseon-picture{
    display: block;
    width: 100%;
    text-align: center;
    flex: 1 0 400px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#horiseon-picture:hover{
    border-color: var(--darkRed);
    box-shadow: 0 0 10px 10px var(--darkRed);
}

/* Project List */
.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    display: block;
    max-width: 40%;
    margin: 2.5% 5% 0 5%;
    text-align: center;
    flex: 1 0 40%;
}

.project img:hover{
    border-color: var(--darkRed);
    box-shadow: 0 0 10px 10px var(--darkRed);
}

.project img{
    display: block;
    max-width: 100%;
    text-align: center;
    flex: 1 0 400px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* Future Outlook Section */
/* .future-background{
    background: linear-gradient(var(--darkGrey), var(--lightGrey));
} */

.future-outlook{
    border-radius: 45px;
    border-width: 2px;
    border-color: black;
    padding: 30px;
    padding-bottom: 80px;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* background: linear-gradient(to top, var(--darkGrey), var(--lightGrey)); */
}

footer a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.contact-box{
    max-width: 30%;
    margin: 1.5%;
    flex: 0 0 300px;
    padding: 1rem;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    background-color: var(--darkGrey);
    color: white;
}

.contact-box:hover {
    border-color: var(--darkRed);
    box-shadow: 0 0 10px 10px var(--darkRed);

}

.contact-box li{
    text-align: center;
    font-size: 1.75rem;
}

/* Reactive Screen */
@media screen and (max-width: 1000px) {
    nav{
        height: 5%;
    }
    h1{
        font-size: clamp(0.8rem, 0.1vw, 2rem);
    }

    .left-align{
        padding: 1.85rem 1.5rem;
        font-size: 1.5rem;
        margin: 0;
    }
    
    .right-align{
        height: 100%;
        width:10%;
        padding: 1rem 1.5rem;
        font-size: clamp(0.8rem, 0.5vw, 1.2rem);
        flex: 0 0 300px;
    }
}

@media screen and (max-width: 769px) {
    .project{
        max-width: 90%;
        margin: 2.5% 10% 0 10%;
    }

    .contact-box{
        max-width: 60%;
        margin: 5 20%;
    }
}
@media screen and (min-width: 1300px) {
    #profile-picture{
        display: block;
        width: 800px;
        margin:auto;
    }
    
}

@media screen and (max-width: 1200px) {
    .hex-small{
        display: none;
    }
    
}